<div class='panel-body'>
    <div class='table-responsive'>
        <table class='table' >
            <thead>
                <tr>
                    <th>
                        <button class='btn btn-warning'>
                           Image
                        </button>
                    </th>
                    <th>{{pageTitle}}</th>
                    <th>LastName</th>
                    <th>Lecture</th>
                    
                    <th>5 Star Rating</th>
                </tr>
            </thead>
            <tbody>
               <tr *ngFor='let teacher of teachers' >
               <td>
                   <img >
               </td>
               <td> {{teacher.teacherFirstName}}</td>
               <td>{{teacher.teacherLastName}}</td>
               <td>{{teacher.vak}}</td>
               <td>
                   <ht-star [rating]='teacher.starRating' (ratingClicked)='onRatingClicked($event)'></ht-star>
               </td>
               <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>