<link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">

<div class="jumbotron text-center">
    <h1>De bekendste quotes</h1>
    <p class="lead">Lectoren van Hogent, Ugent en omstreken </p>
    <a class="btn btn-primary" [routerLink]="['/add-quote']">Voeg je eigen quote toe</a> 
  </div>


<ul>
  <li *ngFor="let d of _myData">
      <blockquote class="blockquote">
          <p class="mb-0">{{d.inhoud}}</p>
          <footer class="blockquote-footer"> {{d.leerkracht}} <cite title="Source Title">{{d.school}}</cite></footer>
        </blockquote>
  </li>
</ul>


 <!--...  <article>
        <h2>Selecteer een school:</h2>
        <select class="btn btn-primary dropdown-toggle" (change)="selectChangeHandler($event)">
          <option class="dropdown-item" value="Hogent">Hogent</option>
          <option class="dropdown-item" value="Ugent">Ugent</option>
        </select>
      </article>
--> 
  <div *ngIf="authService.loggedIn()" >
      <app-add-quote (newQoutesVanLeerkrachtblock)="newLeerkrachtQuotesAdded($event)"></app-add-quote>

    </div>

    <div *ngIf="!authService.loggedIn()" class="text-center mt-3 mb-3 border">
      <p class="lead mb-3 mt-3">Wil je zelf een quote toevoegen? Maak eerst een account aan!</p>
      <a class="btn btn-primary mb-3" [routerLink]="['/register']">registreer</a>
      <a class="btn btn-info mb-3" [routerLink]="['/login']">login</a>  
    </div>
