<link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">

<div class="jumbotron text-center">
    <h1>De bekendste quotes</h1>
    <p class="lead">Lectoren van Hogent, Ugent en omstreken </p>
    <a class="btn btn-primary" [routerLink]="['/register']">Voeg Toe</a>
    <a class="btn btn-info" [routerLink]="['/login']">knop</a>   
  </div>

  <article>
      <h2>Selecteer een school:</h2>
      <select class="btn btn-primary dropdown-toggle" (change)="selectChangeHandler($event)">
        <option class="dropdown-item" value="Hogent">Hogent</option>
        <option class="dropdown-item" value="Ugent">Ugent</option>
      </select>
    </article>
  
    <ul>
        <li *ngFor="let quotes of _quotesVanTeacherBlokken">
          {{quotes._naam}}
        </li>
      </ul>

    <p>quotes van : {{_quotesVanTeacher._naam}}</p>
    <p>zijn quotes : {{_quotesVanTeacher._quotes}}</p>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Quote</th>
          <th scope="col">Lector</th>
          <th scope="col">School</th>
          <th scope="col">DateAdded </th>
        </tr>
      </thead>
      <tbody *ngFor= "let quote of quotes">
        <td> <app-quote [inhoud]="quote"></app-quote> </td>
        <td> Verhak </td>
        <td> College </td>
        <td> {{DateAdded | date: 'longDate'}} </td>
      </tbody>


    </table>


    <app-add-quote (newQoutesVanLeerkrachtblock)="newQuotesBlockAdded($event)"></app-add-quote>