<link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">


<div class="jumbotron"> 
    <h3>Add a Teacher witch quotes</h3>
    <div class="field">
      <label for="naam">naam:</label> 
      <input id="naam" name="naam" #nieuweLeerkracht>

      <label for="quote">quote:</label> 
      <input id="quote" name="quote" #bijhorendeQuote>
    </div>
    <button class="button btn-primary" (click)="addLeerkrachtQuotes(nieuweLeerkracht, bijhorendeQuote)"> Voeg de leerkracht toe</button>
  </div>	