<link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">


<div class=" text-center border">
  <div class="mx-3">
  <h3 class="mt-3 mb-3">Deel jouw examenvragen</h3>

  <form (submit)="onAddExamenvraagSubmit()">
    <div class="field text-center ">

        <div class="form-group">
            <legend class="text-left">De effectieve vraag:</legend>
            <input type="text" [(ngModel)]="vraag" name="vraag" class="form-control">
          </div>
  
      <div class="row justify-content-md-center">
      <article class="text-center mb-3">
          <legend >Selecteer een vak:</legend>
          <select class="btn btn-light dropdown-toggle border" (change)="selectChangeHandler($event)" placeholder="-- Please Select --">
              <option value="" disabled selected>-- Selecteer --</option>
            <option class="dropdown-item" value="WebApplicaties I">WebApplicaties I</option>
            <option class="dropdown-item" value="WebApplicaties II">WebApplicaties II</option>
            <option class="dropdown-item" value="WebApplicaties III">WebApplicaties III</option>
            <option class="dropdown-item" value="WebApplicaties IV">WebApplicaties IV</option>
            <option class="dropdown-item" value="Ontwerpen I">Ontwerpen I</option>
            <option class="dropdown-item" value="Ontwerpen II">Ontwerpen II</option>
            <option class="dropdown-item" value="Ontwerpen III">Ontwerpen III</option>
            <option class="dropdown-item" value="Ontwerpen IV">Ontwerpen IV </option>
            
          </select>
        </article>

   

      <div class="form-group">
          <legend class="text-center">Welk academiejaar?</legend>
          <div class="row justify-content-md-center">
            <div class="col-lg-4">
              <input type="text" placeholder="YYYY" [(ngModel)]="academiejaar1" name="academiejaar1" class="form-control">
            </div>
            <div class="col-lg-0.5">
              <legend> - </legend>
            </div>
            <div class="col-lg-4">
              <input type="text" placeholder="YYYY" [(ngModel)]="academiejaar2" name="academiejaar2" class="form-control">
            </div>
          </div>
        </div>

        <article class="text-center mb-3">
            <legend >Moeilijkheidsgraad:</legend>
            <select class="btn btn-light dropdown-toggle border text-center" (change)="selectChangeHandler2($event)">
                <option value="" disabled selected>-- Selecteer --</option>
              <option class="dropdown-item text-center" value="Hogent">Gratis punten! </option>
              <option class="dropdown-item text-center" value="Ugent">Bekijk het in je cursus, dan kan je het</option>
              <option class="dropdown-item text-center" value="Ugent">Doordenker, maar niet onmogelijk</option>
              <option class="dropdown-item text-center" value="Ugent">Moeilijk! </option>
              <option class="dropdown-item text-center" value="Ugent">Only for wizards</option>
              
              
            </select>
          </article>

        </div>
      <input type="submit" class="btn btn-info mb-3" value="Voeg toe">
    </div>  

  </form>
</div>
  </div>