<link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">

<div class="jumbotron text-center">
    <h1>Beruchte Examenvragen </h1>
    <p class="lead"> Richting: Toegepaste Informatica Hogent</p>
    <a class="btn btn-info" [routerLink]="['/examenstoevoegen']">Net examen gehad? Share it! </a> 
  </div>


  <div class="table-responsive">
  <table class="table border" id="navbar-color02" style="width:100%">
    <thead class="table-info">
    <tr class="text-light">
      <th>Vak </th> 
      <th>Vraag/ Tip</th>
      <th>Moeilijkheidsgraad</th>
      <th>Academiejaar</th>
    </tr>
  </thead>
    <tr *ngFor="let d of _myData">
        <td>{{d.vak}}</td>
        <td>{{d.vraag}}</td> 
        <td>{{d.moeilijkheidsgraad}}</td> 
        <td>{{d.academiejaar1}} - {{d.academiejaar2}}</td> 
      </tr>
  </table>
</div> 


  <div *ngIf="!authService.loggedIn()" class="text-center mt-3 mb-3 border">
    <p class="lead mb-3 mt-3">Wil je zelf een quote toevoegen? Maak eerst een account aan!</p>
    <a class="btn btn-primary mb-3" [routerLink]="['/register']">registreer</a>
    <a class="btn btn-info mb-3" [routerLink]="['/login']">login</a>  
  </div>
