<div class="jumbotron text-center">
  <h1>Teachers Rating</h1>
  <p class="lead">Welcome to my teachers app</p>
  <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
  <a class="btn btn-info" [routerLink]="['/login']">LogIn</a>  
  
</div>

<div class="row">
  <div class="col-md-4">
  <h3>Express backend</h3>
  <p> A mean app: Mongoose, Express, Angular and Node</p>
  </div>
  <div class="col-md-4">
  <h3>Angular CLI</h3>
  <p> A mean app: Mongoose, Express, Angular and Node</p>
  </div>  
  <div class="col-md-4">
  <h3>JWT tokens</h3>
  <p> A mean app: Mongoose, Express, Angular and Node</p>
  </div>
</div>