<nav id="mainNavbar" class="navbar navbar-expand-lg navbar-dark bg-primary">
  
  <a class="navbar-brand" href="#">Lectoren in Gent</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor21" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleCollapsed()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" [routerLinkActive]="['active']" [routerLinkActiveOptions]= "{exact:true}">
        <a [routerLink]="['/']" class="nav-link"> Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]= "{exact:true}">
          <a *ngIf="!authService.loggedIn()" [routerLink]="['/login']" class="nav-link"> Login <span class="sr-only">(current)</span></a>
          <a *ngIf="authService.loggedIn()" [routerLink]="['/profile']" class="nav-link"> Persoonlijk Dashboard <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]= "{exact:true}">
          <a *ngIf="!authService.loggedIn()" [routerLink]="['/register']" class="nav-link"> Register <span class="sr-only">(current)</span></a>
          <a *ngIf="authService.loggedIn()" [routerLink]="['/quotes']" class="nav-link"> quotes <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]= "{exact:true}">
          <a *ngIf="authService.loggedIn()" [routerLink]="['/examens']" class="nav-link"> Examenvragen <span class="sr-only">(current)</span></a>
      </li>
    </ul>


    <form class="form-inline my-2 my-lg-0">
    
      <a *ngIf="authService.loggedIn()" (click)="onLogoutClick()" href="#" class="btn btn-outline-secondary ml-2"> Log out <span class="sr-only">(current)</span></a>
 
    </form>
  </div>
</nav>
<br>